[submodule ".registry"]
	path = .registry
	url = https://github.com/arisp99/universe
	shallow = true
	branch = HEAD
[submodule "CAvaccines"]
	path = CAvaccines
	url = https://github.com/arisp99/CAvaccines
	shallow = true
	registered = true
[submodule "coiaf"]
	path = coiaf
	url = https://github.com/bailey-lab/coiaf
	shallow = true
	registered = true
[submodule "miplicorn"]
	path = miplicorn
	url = https://github.com/bailey-lab/miplicorn
	shallow = true
	registered = true
[submodule "nof1gen"]
	path = nof1gen
	url = https://github.com/arisp99/nof1gen
	shallow = true
	registered = true
